* {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 140%;
}


.fixed-position {
    width: 100%;
    top: 0;
    z-index: 999;
}

.bold {
    font-weight: bold;
}

.wrap {
    flex-wrap: wrap;
}

.background-white {
    background-color: white;
}

.background-blue {
    background-color: rgb(0,97,255);
}

.background-sky {
    background-color: rgb(180,208,231);
}

.txt-grey {
    color: rgb(83,83,83);
}

.m-r20{
    margin-right: 20%;
}

.pd-top150 {
    padding-top: 150px;
}

.pd-25-20 {
    padding: 25px 20px
}

.padd10 {
    padding: 10px 20px;
}

.h90vh {
    height: 90vh;
}

.width65 {
    width: 65%;
}



.underline-black:hover{
    border-bottom: 2px solid black;
}

.button-opacity:hover {
    opacity: 70%;
}